/*body {*/
/*overflow-y: scroll !important;*/
/*}*/
.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.log {
    margin-top: 5em;
    overflow-x: auto;
}

.wireframe {
    margin-top: 2em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.text.red {
    color: #D95C5C;
}

.stacktrace-line {
    white-space: nowrap;
}

table a i {
    color: #777;
}

.clearSort {
    float: right;
}

.clearSort i {
    font-size: 21px;
}

.sequenceHolder {
    margin-left: 5px;
}

.ui.popup {
    overflow: scroll;
    max-height: 400px;
}

.ui.basic.table {
    white-space: pre !important;
}
