# Created by .ignore support plugin (hsz.mobi)
/.gitignore
/.idea/
!/.gitignore
/zol-example/src/main/webapp/META-INF/context.xml
/.gradle/
/build/
/out/
/zol-core/build/
/zol-example/build/
